/*common*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}
.btn.focus,
.btn:focus,
.btn:hover {
    text-decoration: none;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline-offset: -2px;
}
.btn.active,
.btn:active {
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
/*默认*/
.btn-d,
.btn-d:hover,
.btn-d:focus,
.btn-d:active:focus{
    height: 36px;
    border:3px solid #333;
    background-color: white;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
    outline:none;
}
/*橙色*/
.btn-o,
.btn-o:hover,
.btn-o:focus,
.btn-o:active:focus {
    height: 36px;
    border: 3px solid rgb(255,153,0);
    background-color: white;
    color: rgb(255,153,0);
    font-weight: bold;
    border-radius: 8px;
    outline: none;
}
/*蓝色*/
.btn-b,
.btn-b:hover,
.btn-b:focus,
.btn-b:active:focus{
    height: 36px;
    border:3px solid #337ab7;
    background-color: white;
    color: #337ab7;
    font-weight: bold;
    border-radius: 8px;
    outline:none;
}
/*红色*/
.btn-r,
.btn-r:hover,
.btn-r:focus,
.btn-r:active:focus{
    height: 36px;
    border:3px solid #d43f3a;
    background-color: white;
    color: #d43f3a;
    font-weight: bold;
    border-radius: 8px;
    outline:none;
}
/*绿色*/
.btn-g,
.btn-g:hover,
.btn-g:focus,
.btn-g:active:focus{
    height: 36px;
    border:3px solid #5cb85c;
    background-color: white;
    color: #5cb85c;
    font-weight: bold;
    border-radius: 8px;
    outline:none;
}
